<link rel="stylesheet" href="application.css">

<div class="wrapper">

  <div class="content">
    <blockquote>
      <p>Моя мама всегда говорила: «Жизнь как коробка шоколадных конфет: никогда не знаешь, какая начинка тебе попадётся» </p>
      <footer>— <cite>Форрест Гамп, Том Хэнкс</cite></footer>
    </blockquote>
  </div>

  <div class="footer">
    &copy;<a class="author" href="https://github.com/Yourloff">@orloff</a>
  </div>

</div>