<link rel="stylesheet" href="application.css">

<div class="wrapper">
  <blockquote>
    <p>Моя мама всегда говорила: «Жизнь как коробка шоколадных конфет: никогда не знаешь, какая начинка тебе попадётся» </p>
    <footer>— <cite>Форрест Гамп, Том Хэнкс</cite></footer>
  </blockquote>
  <div class="content">
    <%= image_tag('tom.jpg', :class => "img") %>
  </div>

  <div class="footer">
    &copy;<a class="author" href="https://github.com/Yourloff">@orloff</a>
  </div>

</div>